/**
 * Posts and pages
 */
 .sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-header {
	margin-bottom: 3rem;
	padding: 0 3rem;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta,
.entry-footer {
	margin-top: 1em;
}

.entry-footer span {
	margin-right: 1em;
}

/**
 * Posts and pages
 */
.entry-content {

	.projects-grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 0.35em 0.35em;
		max-width: 100vw;
		margin: 2em 0 0;
		padding: 0;
		list-style: none;

		figure {
			position: relative;
			overflow: hidden;
			height: 100%;

			img {
				display: block;
				width: 100%;
				height: auto;
				max-width: 100%;
				opacity: 0.85;
				-webkit-transition: all .25s;
				transition: all .25s;
			}

			figcaption {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				line-height: 1.2;
				background: rgba(0,0,0,0.85);
				color: $white;
				opacity: 0;
				-webkit-transition: all .25s;
				transition: all .25s;

				.projects-grid-links {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					display: -webkit-box;
					display: flex;
					justify-content: space-around;
					flex-wrap: wrap;
					margin-top: 1em;
					padding: 0.5em 1em;
					-webkit-transition: all .15s;
					transition: all .15s;

					a {
						display: inline-block;
						font-size: 1.125em;
						text-decoration: none;
						color: $white;
						color: rgba(255,255,255,0.65);

						&:hover,
						&:focus {
							color: rgba(255,255,255,0.85);
							color: $white;
						}
					}
				}
			}

			&:hover,
			&:focus {

				img {
					opacity: 1;
				}

				figcaption {
					opacity: 1;
				}
			}
		}
	}
}

.archive {

	.site-main {

		article:not(:first-of-type) {

			.entry-content {
				margin-top: 2rem;
				padding-top: 3rem;
				border-top: solid 1px rgba($color: $white, $alpha: 0.25);
			}
		}
	}
}

.single-project-top,
.single-press-top,
.archive-project-list-view,
.archive-press-list-view {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	width: 100%;
	height: 100%;
	font-size: 1.125em;

	h2 {
		font-size: 2.3rem;
	}

	.project-description,
	.press-summary {
		line-height: 1.6;

		p:first-of-type {
			margin-top: 0;
		}
	}

	.directed-by-label {
		margin-top: 0;
	}
}

.archive-press-list-view {

	.press-outlet {
		margin-bottom: 0.5em;
		font-family: $display_font;
		font-size: 1.8rem;
		font-weight: 400;
		letter-spacing: 0.2rem;
	}
}

.project-trailer-embed,
.project-gallery {
	margin-top: 3rem;
	padding-top: 2rem;
	border-top: solid 1px rgba($color: $white, $alpha: 0.25);
}

.project-trailer-embed iframe {
	margin-top: 2rem;
}

.featured-slider {

	h3 {
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	.slick-arrow {
		cursor: pointer;
	}

	.slick-prev:before,
	.slick-next:before {
		font-size: 4rem;
	}

	.project-gallery {
		display: none;
	}
}

/*
 * Fancybox
 */
.fancybox-container {

	.fancybox-bg {
		background-color: #101015;
		opacity: 0.35;
	}

	&.fancybox-is-open {

		.fancybox-bg {
			opacity: 0.8;
		}
	}

	.fancybox-button {
		background-color: transparent;
		font-size: 4rem;
	}

	.fancybox-navigation {

		.fancybox-button {
			width: auto;
			height: auto;
		}
	}

	.fancybox-thumbs {
		padding: 0;
		background-color: $dark;

		.fancybox-thumbs__list {
			background-color: #131318;
		}
	}

	.fancybox-thumbs__list a:before {
		border-color: rgba($color: $white, $alpha: 0.7);
	}

	.fancybox-progress {
		background-color: $primary_color;
	}

	.fancybox-thumbs__list a {
		background-color: inherit;
	}
}

.logged-in.admin-bar .fancybox-container {
	top: 32px !important;
}

.fancybox-page-link {
	background-color: $dark;
	border: solid 1px $white;

	h3 {
		margin: 0;
	}
}

@media screen and (min-width: 37.5em) {

	.single-project-top,
	.single-press-top,
	.archive-project-list-view,
	.archive-press-list-view {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
				flex-direction: row;

		h1,
		h2 {
			margin-top: 0;
		}
	}

	.single-project-top,
	.single-press-top {

		h1,
		h2 {
			line-height: 1.1;
		}
	}

	.archive-project-list-view,
	.archive-press-list-view {

		h1,
		h2 {
			line-height: 1.2;
			text-transform: none;
		}
	}

	.project-poster,
	.press-logo {
		width: 30%;
		max-width: 240px;
		margin-right: 2em;
	}

	.project-info,
	.press-info {
		width: 70%;
	}

	.archive-project-list-view,
	.archive-press-list-view {

		.project-poster,
		.press-logo {
			width: auto;
			max-width: 160px;
		}

		.project-info,
		.press-info {
			width: 100%;
		}
	}
}

/*
 * Tooltips
 */
.tooltipster-sidetip.affp-tooltips .tooltipster-box,
.tooltipster-follower.affp-tooltips .tooltipster-box {
	border: solid 1px $white;
	border-radius: 0px;
	box-shadow: none;
}

.tooltipster-sidetip.affp-tooltips .tooltipster-content,
.tooltipster-follower.affp-tooltips .tooltipster-content {
	background: $dark;
	color: $white;
	border-radius: 0px;
	padding: 1em;
	line-height: 1;
	font-family: $display_font;
	font-size: 1.325rem;
	font-weight: 350;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-bottom .tooltipster-arrow,
.tooltipster-sidetip.affp-tooltips.tooltipster-top .tooltipster-arrow {
	height: 1rem;
	bottom: -1px;
	margin-left: -1rem;
	width: 3.4rem;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-bottom .tooltipster-arrow-border,
.tooltipster-follower.affp-tooltips.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: $white;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-left .tooltipster-arrow-border,
.tooltipster-follower.affp-tooltips.tooltipster-left .tooltipster-arrow-border {
	border-left-color: $white;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-right .tooltipster-arrow-border,
.tooltipster-follower.affp-tooltips.tooltipster-right .tooltipster-arrow-border {
	border-right-color: $white;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-top .tooltipster-arrow-border,
.tooltipster-follower.affp-tooltips.tooltipster-top .tooltipster-arrow-border {
	border-top-color: $white;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: $dark;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-left .tooltipster-arrow-background {
	border-left-color: $dark;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-right .tooltipster-arrow-background {
	border-right-color: $dark;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-top .tooltipster-arrow-background {
	border-top-color: $dark;
}