/**
 * Posts and pages
 */
 .sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-header {
	margin-bottom: 3rem;
	padding: 0 3rem;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta,
.entry-footer {
	margin-top: 1em;
}

.entry-footer span {
	margin-right: 1em;
}

/**
 * Posts and pages
 */
.entry-content {
	font-size: 1.7rem;
	line-height: 1.5;
}

.posts-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 0.35em 0.35em;
	max-width: 100vw;
	margin: 2em 0 0;
	padding: 0;
	list-style: none;

	figure {
		position: relative;
		overflow: hidden;

		img {
			display: block;
			width: 100%;
			height: auto;
			max-width: 100%;
			opacity: 0.85;
			-webkit-transition: all .25s;
			transition: all .25s;
		}

		figcaption {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			line-height: 1.2;
			background: rgba(0,0,0,0.85);
			color: $white;
			opacity: 0;
			-webkit-transition: all .25s;
			transition: all .25s;

			.projects-grid-links {
				position: absolute;
				top: auto;
				left: 0;
				bottom: 0;
				width: 100%;
				display: -webkit-box;
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				list-style: none;
				margin-top: 1em;
				padding: 0.5em 1em;

				li {
					display: inline;
				}

				a {
					display: inline-block;
					font-size: 1.125em;
					text-decoration: none;
					color: $white;
					color: rgba(255,255,255,0.65);

					&:hover,
					&:focus {
						color: rgba(255,255,255,0.85);
						color: $white;
					}
				}
			}
		}

		h2,
		h3 {
			margin: 0;
			padding: 0.5em 1rem;
		}

		&:hover,
		&:focus {

			img {
				opacity: 1;
			}

			figcaption {
				opacity: 1;
			}
		}
	}

	&.press-grid {

		figcaption {
			display: -webkit-box;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			-webkit-box-pack: center;
			        justify-content: center;
		}

		h3,
		p {
			font-size: 1.3rem;
			text-transform: none;
		}

		p {
			margin-top: 0.3em;
			padding: 1rem;
		}
	}
}

.image-gallery-label {
	font-family: $display_font;
	font-size: 1.8rem;
	font-weight: 400;
	letter-spacing: 0.2rem;
	text-transform: lowercase;

	+ h1 {
		margin-top: 0.25em;
	}
}

.archive {

	.site-main {

		article:not(:first-of-type) {

			.entry-content {
				margin-top: 2rem;
				padding-top: 3rem;
				border-top: solid 1px rgba($color: $white, $alpha: 0.25);
			}
		}
	}

	.list-view-toggle {
		padding: 0 3rem 3rem;
		text-align: right;
		font-family: $display_font;
		font-size: 1.7rem;
		font-weight: 400;
		letter-spacing: 0.075em;
		text-transform: lowercase;

		.list-view-toggle-actions {
			margin: 0;
		}

		button {

			span {
				color: rgba($color: $white, $alpha: 0.5);
			}

			svg {
				width: 20px;
				fill: rgba($color: $white, $alpha: 0.5);
			}

			&:hover,
			&.list-view-on {

				span {
					color: $white;
				}

				svg {
					fill: $white;
				}
			}
		}
	}

	.project-details-link {
		cursor: pointer;
	}

	.archive-post-details {
		display: none;
		background-color: $dark;

		h3 {
			margin: 0;
		}
	}
}

.single-project-top,
.single-press-top,
.archive-project,
.archive-press,
.archive-gallery-list-view {
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	width: 100%;
	height: 100%;

	h2 {
		font-size: 2.3rem;
	}

	.directed-by-label {
		margin-top: 0;
	}
}

.single-project-top,
.single-press-top {
	font-size: 1.125em;

	.project-description,
	.press-summary {
		line-height: 1.6;

		p:first-of-type {
			margin-top: 0;
		}
	}
}

.single-project h2 {
	font-size: 2.2rem;
	font-weight: 400;
	letter-spacing: 0.15em;
	text-transform: none;
}

.project-poster,
.press-logo,
.gallery-image {

	img {
		display: block;
		width: 100%;
	}
}

.archive-press {

	.press-outlet {
		margin-bottom: 0.5em;
		font-family: $display_font;
		font-size: 1.8rem;
		font-weight: 400;
		letter-spacing: 0.2rem;
	}
}

.project-trailer-embed,
.project-gallery {
	margin-top: 3rem;
	padding-top: 2rem;
	border-top: solid 1px rgba($color: $white, $alpha: 0.25);
}

.project-trailer-embed iframe {
	margin-top: 2rem;
}

.project-additional-videos {
	margin-top: 3rem;
	padding-top: 2rem;
	border-top: solid 1px rgba($color: $white, $alpha: 0.25);

	ul {
		list-style: none;
		display: -webkit-box;
		display: flex;
		flex-wrap: wrap;
		padding: 0;

		li {
			&:not(:last-of-type) {
				margin-right: 1rem;
				&:after {
					content: '|';
					display: inline-block;
					margin-left: 1rem;
				}
			}
		}
	}
}

.project-gallery-hidden {
	display: none;
}

.featured-slider {

	h3 {
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

	.slick-arrow {
		cursor: pointer;
	}

	.slick-prev:before,
	.slick-next:before {
		font-size: 4rem;
	}
}

.project-link,
.press-link,
.gallery-link {
	font-family: $display_font;
	font-size: 1.7rem;
	letter-spacing: 0.075em;
	text-transform: lowercase;

	a {
		font-weight: 400;
	}
}

.projects-links {
	list-style: none;
	width: 100%;
	display: -webkit-box;
	display: flex;

	li {
		display: inline;
		margin: 0;

		&:not(:last-of-type) {
			margin-right: 2rem;
		}

		a {
			display: inline-block;
			font-size: 1.825rem;
		}

		&.project-page-link {
			display: none;
		}
	}
}

/*
 * Archive list and grid views
 *
 * Uses a toggled body class.
 */
body.posts-grid-view {

	&.archive {

		.posts-list {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 0.5em 0.5em;
			padding: 0 3rem;

			.entry-content {
				margin: 0 !important;
				padding: 0 !important;
				border: none !important;
			}
		}

		.site-main article {
			padding: 0;
		}

		.archive-toggle-view-post {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;

			.archive-toggle-view-image {
				width: 100%;
				max-width: 100%;
				margin: 0;
			}

			.archive-toggle-view-info {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 3rem;
				background: rgba(0,0,0,0.85);
				opacity: 0;
				transition: opacity .25s;

				h2 {
					margin: 0;
					font-size: 1.9rem;
					text-transform: none;
					line-height: 1.2;
				}

				h4,
				.project-description,
				.info-link-text,
				.press-outlet,
				.press-summary-label,
				.press-summary {
					border: 0;
					clip: rect(1px, 1px, 1px, 1px);
					-webkit-clip-path: inset(50%);
							clip-path: inset(50%);
					height: 1px;
					margin: -1px;
					overflow: hidden;
					padding: 0;
					position: absolute !important;
					width: 1px;
					word-wrap: normal !important;
				}

				.icon-right {
					display: none;
				}

				&.press-info {

					h2 {
						margin: 0;
						font-size: 1.3rem;
					}

					.press-link {

						a {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							display: block;
							padding: 0.5em 1rem;
						}
					}
				}
			}

			&:hover,
			&:focus {

				.project-info,
				.press-info {
					opacity: 1;
				}
			}

			.project-link,
			.project-details-link {
				display: none;
			}
		}

		.projects-links {

			li {
				&.project-page-link {
					display: inline;
				}
			}
		}
	}
}

/*
 * Fancybox
 */
.fancybox-container {

	.fancybox-bg {
		background-color: #101015;
		opacity: 0.35;
	}

	&.fancybox-is-open {

		.fancybox-bg {
			opacity: 0.8;
		}
	}

	.fancybox-button {
		background-color: transparent;
		font-size: 4rem;
	}

	.fancybox-navigation {

		.fancybox-button {
			width: auto;
			height: auto;
		}
	}

	.fancybox-thumbs {
		padding: 0;
		background-color: $dark;

		.fancybox-thumbs__list {
			background-color: #131318;
		}
	}

	.fancybox-thumbs__list a:before {
		border-color: rgba($color: $white, $alpha: 0.7);
	}

	.fancybox-progress {
		background-color: $primary_color;
	}

	.fancybox-thumbs__list a {
		background-color: inherit;
	}
}

.logged-in.admin-bar .fancybox-container {
	top: 32px !important;
}

.fancybox-page-link {
	background-color: $dark;
	border: solid 1px $white;

	h3 {
		margin: 0;
	}
}

@media screen and (min-width: 480px) {

	.posts-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	body.posts-grid-view {
		&.archive {
			.posts-list {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}

@media screen and (min-width: 769px) {

	.posts-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	body.posts-grid-view {
		&.archive {
			.posts-list {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}

	.single-project-top,
	.single-press-top,
	.archive-project,
	.archive-press,
	.archive-gallery-list-view {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
				flex-direction: row;

		h1,
		h2 {
			margin-top: 0;
		}
	}

	.single-project-top,
	.single-press-top {

		h1,
		h2 {
			line-height: 1.1;
		}
	}

	.archive-project,
	.archive-press,
	.archive-gallery-list-view {

		h1,
		h2 {
			line-height: 1.2;
		}
	}

	.project-poster,
	.press-logo,
	.gallery-image {
		width: 30%;
		max-width: 240px;
		margin-right: 2em;
	}

	.project-info,
	.press-info,
	.gallery-info {
		width: 70%;
	}

	.archive-project,
	.archive-press,
	.archive-gallery-list-view {

		.project-poster,
		.press-logo,
		.gallery-image {
			width: auto;
			max-width: 160px;
		}

		.project-info,
		.press-info,
		.gallery-info {
			width: 100%;
		}
	}
}

@media screen and (min-width: 1024px) {

	.posts-grid {
		grid-template-columns: repeat(6, 1fr);
	}

	body.posts-grid-view {
		&.archive {
			.posts-list {
				grid-template-columns: repeat(6, 1fr);
			}
		}
	}
}

/*
 * Tooltips
 */
.tooltipster-sidetip.affp-tooltips .tooltipster-box,
.tooltipster-follower.affp-tooltips .tooltipster-box {
	border: solid 1px $white;
	border-radius: 0px;
	box-shadow: none;
}

.tooltipster-sidetip.affp-tooltips .tooltipster-content,
.tooltipster-follower.affp-tooltips .tooltipster-content {
	background: $dark;
	color: $white;
	border-radius: 0px;
	padding: 1em;
	line-height: 1;
	font-family: $display_font;
	font-size: 1.325rem;
	font-weight: 350;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-bottom .tooltipster-arrow,
.tooltipster-sidetip.affp-tooltips.tooltipster-top .tooltipster-arrow {
	height: 1rem;
	bottom: -1px;
	margin-left: -1rem;
	width: 3.4rem;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-bottom .tooltipster-arrow-border,
.tooltipster-follower.affp-tooltips.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: $white;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-left .tooltipster-arrow-border,
.tooltipster-follower.affp-tooltips.tooltipster-left .tooltipster-arrow-border {
	border-left-color: $white;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-right .tooltipster-arrow-border,
.tooltipster-follower.affp-tooltips.tooltipster-right .tooltipster-arrow-border {
	border-right-color: $white;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-top .tooltipster-arrow-border,
.tooltipster-follower.affp-tooltips.tooltipster-top .tooltipster-arrow-border {
	border-top-color: $white;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: $dark;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-left .tooltipster-arrow-background {
	border-left-color: $dark;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-right .tooltipster-arrow-background {
	border-right-color: $dark;
}

.tooltipster-sidetip.affp-tooltips.tooltipster-top .tooltipster-arrow-background {
	border-top-color: $dark;
}