/**
 * Front page
 */

@-webkit-keyframes ken-burns {
	from {
		-webkit-transform: scale(1.2, 1.2);
		        transform: scale(1.2, 1.2);
		-webkit-transform-origin: 50% 0%;
		        transform-origin: 50% 0%;
	}
	to {
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
		-webkit-transform-origin: 50% 50%;
		        transform-origin: 50% 50%;
	}
}

@keyframes ken-burns {
	from {
		-webkit-transform: scale(1.2, 1.2);
		        transform: scale(1.2, 1.2);
		-webkit-transform-origin: 50% 0%;
		        transform-origin: 50% 0%;
	}
	to {
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
		-webkit-transform-origin: 50% 50%;
		        transform-origin: 50% 50%;
	}
}

.front-page {
	position: relative;
}

.bounce-in-fwd {
	-webkit-animation: bounce-in-fwd 1.1s both;
	        animation: bounce-in-fwd 1.1s both;
}

/* General section styles */
.front-page-main {

	.front-page-section {
		position: relative;
		width: 100%;
		min-height: 100vh;

		.fp-scrollable,
		.fp-scroller {
			width: 100%;
		}

		.fp-scrollable {}

		.fp-scroller {
			min-height: 100vh;
			display: -webkit-box;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			        flex-direction: column;
			-webkit-box-pack: center;
			        justify-content: center;
		}

		.wrapper {
			width: 100%;
			padding: 0 3rem;
		}

		header {

			.wrapper {
				padding-top: 14vh;
			}
		}

		.entry-content {
			opacity: 0;
			-webkit-transition: opacity 1.15s;
			transition: opacity 1.15s;

			// The FullPageJS script has a delay in adding the fp-completely class.
			-webkit-transition-delay: 0;
			        transition-delay: 0;
		}

		h2 {
			margin: 0;

			.view-all-heading-link {
				font-size: 1.7rem;
				font-weight: 400;
				text-transform: lowercase;
				letter-spacing: 0.075em;

				a {
					font-weight: inherit;
				}
			}
		}

		h4 + p {
			margin-top: 0.5em;
		}

		&:not(.splash) {
			padding-top: 6rem;
		}

		&.content-section {
			font-size: 1.7rem;
			line-height: 1.5;

			.entry-content {}
		}

		&.has-subsections {

			header {
				position: absolute;
				width: 100%;
				z-index: 100;
			}
		}

		.subsection {
			padding: 2rem;
			z-index: 1000;
		}

		.next-section {
			font-family: $display_font;
			font-weight: 400;
		}

		.avatar {
			width: 100%;
		}

		&.fp-completely,
		&.section-viewed {

			.entry-content {
				opacity: 1;
			}
		}

		.avatar {
			margin-top: 6rem;
			width: 240px;
		}
	}
}

.fp-responsive {

	.front-page-main {
		.front-page-section {

			&:not(.splash) {
				min-height: 100%;
				height: 100% !important;
			}

			.entry-content {
				opacity: 1;
			}

			.fp-tableCell,
			.fp-scrollable {
				min-height: 100%;
				height: 100% !important;
			}
		}
	}

}

/* Splash/slides section */
.splash {
	position: relative;
	height: 100vh;
	overflow: hidden;
	background-color: $dark;
	color: $white;

	.site-header {
		position: relative;
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
				flex-direction: column;
		-webkit-box-align: center;
				align-items: center;
		-webkit-box-pack: center;
				justify-content: center;
		width: 100%;
		padding: 0 2rem;
		opacity: 0;
		-webkit-transition: opacity 1.75s;
		transition: opacity 1.75s;
		-webkit-transition-delay: 0.175s;
		        transition-delay: 0.175s;
	}

	&.fp-completely,
	&.section-viewed {

		.site-header {
			opacity: 1;
		}
	}

	a {
		color: $white;
	}
}

#intro-entry-link {
	display: block;
	margin-top: 10vh;
	font-size: 3rem;
	-webkit-animation: bouncy linear 1s infinite;
	        animation: bouncy linear 1s infinite;
	-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	opacity: 0.85;
	cursor: pointer;

	&:hover {
		-webkit-animation: none;
		        animation: none;
	}
}

.fp-viewing-splash #fp-nav {
	z-index: -1;
}

.intro-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	ul {
		margin: 0 !important;

		.slick-slide {

			-webkit-transform: scale(1, 1);
				transform: scale(1, 1);
			-webkit-transform-origin: 50% 0%;
				transform-origin: 50% 0%;

			&.slick-active {
				/*
				 * Match timing to autoplaySpeed option in intro_slides function,
				 * class-fullpage-scripts.php
				 */
				-webkit-animation: ken-burns 7200ms 1 ease-in-out;
				animation: ken-burns 7200ms 1 ease-in-out;
			}
		}

		li {
			bottom: 0;
			right: 0;
			height: 100vh;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(28,28,36,0.9);
			}
		}
	}

	img {
		display: block;
		width: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
	}
}

.next-section {
	cursor: pointer;
}

.featured-slider {
	margin-top: 5vh;
}

.featured-project,
.featured-press {
	position: relative;
	display: -webkit-box;
	display: flex;
	width: 100%;
	height: 100%;

	.project-poster,
	.press-logo {
		width: 30%;
		max-width: 240px;
		margin-right: 2em;
	}

	.project-info,
	.press-info {
		width: 70%;

		p {
			font-size: 1.8rem;
			line-height: 1.5;
		}

		ul {
			list-style: none;
			width: 100%;
			display: -webkit-box;
			display: flex;
			padding: 0;

			li {
				display: inline;
				margin-right: 2em;

				a {
					display: inline-block;
					font-size: 1.825rem;
				}
			}
		}
	}
}

.featured-press {

	.press-outlet {
		margin: 0;
		font-family: $display_font;
		font-size: 1.1em;
		font-weight: 500;
		letter-spacing: 0.05em;
	}

	.press-summary-label {
		display: block;
		margin-top: 1em;
		font-weight: 500;
	}

	.press-summary {
		p {
			&:first-of-type {
				margin-top: 0.35em;
			}
		}
	}
}

@media screen and (min-width: 769px) {

	.front-page-main {

		.front-page-section {

			.avatar {
				max-width: 320px;
				max-width: 14vw;
				min-width: 240px;
				margin-top: 2em;
				-webkit-clip-path: circle();
						clip-path: circle();
				 shape-outside: circle();
			}
		}
	}

	.intro-header-text {
		padding: 0 8vw;

		&.intro-header-text-narrow {
			display: none;
		}

		&.intro-header-text-wide {
			display: block;
		}
	}
}

@media screen and (max-width: 640px) {

	.front-page-main {

		.featured-slider {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 0.5em 0.5em;

			.subsection {
				padding: 0 !important;
			}
		}
	}

	.featured-post {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;

		.featured-post-image {
			width: 100%;
			max-width: 100%;
			margin: 0;
		}

		.featured-post-info {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 3rem;
			background: rgba(0,0,0,0.85);
			opacity: 0;
			transition: opacity .25s;

			h3 {
				margin: 0;
				font-size: 1.9rem;
				text-transform: none;
				line-height: 1.2;
			}

			h4,
			.project-description,
			.info-link-text,
			.press-outlet,
			.press-summary-label,
			.press-summary {
				border: 0;
				clip: rect(1px, 1px, 1px, 1px);
				-webkit-clip-path: inset(50%);
						clip-path: inset(50%);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute !important;
				width: 1px;
				word-wrap: normal !important;
			}

			.icon-right {
				display: none;
			}

			ul {
				list-style: none;
				width: 100%;
				display: -webkit-box;
				display: flex;

				li {
					display: inline;
					margin: 0;

					&:not(:last-of-type) {
						margin-right: 10%;
					}

					a {
						display: inline-block;
						font-size: 1.825rem;
					}
				}
			}
		}

		&.featured-press {

			.featured-post-info {

				h3 {
					font-size: 1.3rem;
				}
			}

			a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
			}
		}

		&:hover,
		&:focus {

			.project-info,
			.press-info {
				opacity: 1;
			}
		}
	}
}