/**
 * Navigation
 */
.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	> div {
		width: 100%;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: inherit;

		ul {
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			width: 100%;
			min-width: 160px;
			background-color: $white;
			-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
					box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

			ul {
				left: -999em;
				top: 0;
			}

			li:hover > ul,
			li.focus > ul {
				left: 0;
			}

			li {

				a {
					width: 100%;
					padding: 0.25em 0.75em;

					&:hover,
					&:focus {
						background: $pale_gray;
					}
				}
			}
		}
	}

	li {
		overflow: visible;

		&:hover > ul,
		&:focus > ul,
		&.focus > ul {
			left: 0;
		}
	}

	a {
		display: inline-block;
		text-decoration: none;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	font-size: 1.25em;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 3rem;
	font-family: $display_font;
	font-size: 1.125em;
	letter-spacing: 0.125em;

	&.posts-navigation-top {
		padding: 1rem 3rem;
	}
}

.numeric-pagination {
	width: 100%;
	margin-top: 3rem;
	padding: 0 3rem;
	font-family: $display_font;
	font-size: 1.7rem;
	font-weight: 400;
	text-transform: lowercase;
	letter-spacing: 0.075em;

	ul {
		margin-top: 0.5em;
		list-style: none;

		li {
			display: inline-block;

			a {
				display: block;
				position: relative;
				margin: 0 0.35em;
				font-weight: 400;

				&:before {
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					bottom: -0.25em;
					left: 0;
					height: 2px;
					background-color: transparent;
					transform: scale(0);
					transition: all .25s;
				}
			}

			&.active a {
				font-weight: 700;

				&:before {
					background-color: $white;
					transform: scale(1);
				}
			}
		}
	}
}

.dark-mode {
	.main-navigation {
		ul {
			ul {
				background: $dark_gray;

				li {
					a {
						&:hover,
						&:focus {
							background: $medium_gray;
						}
					}
				}
			}
		}
	}
}

// Non-mobile menu.
@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {

		ul {
			display: block;
			text-align: right;

			li {
				position: relative;

				&:not(:last-of-type) {
					margin-right: 1.25em;
				}
			}

			ul {
				display: block;

				li {
					&:not(:last-of-type) {
						margin-right: 0;
					}
				}
			}
		}
	}
}


body {

	.navbar {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		z-index: 5000;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		        justify-content: space-between;
		background: rgba(28,28,36,0.85);
		//-webkit-transition: top .45s;
		//transition: top .45s;
	}

	&:not(.fp-viewing-splash) .navbar {
		top: 0;
	}
}

.main-navigation {
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
			align-items: center;
	padding: 1.5rem 3rem 1rem;

	ul {}

	li {
		display: inline-block;
		position: relative;
		font-family: $display_font;
		font-size: 1.7rem;
		font-weight: 400;
		text-transform: lowercase;
		letter-spacing: 0.075em;

		a {
			display: block;
			position: relative;
			font-weight: 400;
			text-decoration: none;
			color: $white;

			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: -0.25em;
				left: 0.5em;
				right: 0.5em;
				height: 1px;
				background-color: transparent;
				transform: scale(0);
				transition: all .25s;
			}
		}

		&:hover,
		&.current-menu-item,
		&.active {
			a:before {
				background-color: $white;
				transform: scale(1);
			}
		}

		ul {
			width: 200px;
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			background: $dark;

			li {
				display: block;

				a {
					&:after {
						display: none;
					}
				}
			}
		}

		&:hover {
			ul {
				display: block;
			}
		}
	}
}

.logo-nav-link {
    display: block;
    margin-right: 2rem;
    padding-top: 1rem;
}

.logo-nav-link img {
    display: inline-block;
    vertical-align: middle;
}

.logo-nav-icon {
    width: 52px;
    margin-right: 0.5em; /* If logo text displayed */
    margin-right: 0;
}

.logo-nav-text {
    display: none !important;
    width: 172px;
}

.secondary-nav {
    position: fixed;
    top: 0;
    left: auto;
    right: -100%;
    width: auto;
    min-width: 320px;
    height: 100%;
    overflow-y: auto;
    z-index: 5002;
    padding: 9rem 3rem 3rem;
    -webkit-transition: right .25s;
    transition: right .25s;
    background-color: rgba(28,28,36,0.85);
    color: $white;
}

.secondary-nav.open {
    right: 0;
}

.secondary-nav .logo-nav-link {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.secondary-nav h3 {
    margin-top: 0.5em;
}

.secondary-nav ul {
    list-style: none;
    margin-top: 0.5em;
}

.secondary-nav li {
    line-height: 2;
}

.secondary-nav a {
    color: $white;
}

.side-menu-toggle,
.menu-close {
    display: block;
    width: auto;
    font-size: 2rem;
    font-weight: 600;
}

.side-menu-toggle span:first-of-type,
.menu-close span:first-of-type {
    margin-right: 0.3em;
}

.side-menu-toggle {
	background: inherit;
	border: none;

	&:hover,
	&:focus {
		background: inherit;
	}
}

.menu-close {
    position: absolute;
    top: 3rem;
    right: 3rem;
}

#pins-logo {
	max-width: 52px;
	fill: $white;
}

#fp-nav {
	z-index: 9999;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: $white;
}