/**
 * Styles for when JavaScript is disabled
 */
 html.no-js {
	height: 100%;
	overflow-y: scroll;

	.loader {
		display: none;
	}

	.main-navigation ul {
		display: block;
		font-size: 1.25em;
	}

	/* Front page */
	.front-page-main {

		.front-page-section {
			min-height: 100%;

			&.splash {
				min-height: 100vh;
				display: -webkit-box;
				display: flex;
				-webkit-box-align: center;
				        align-items: center;
			}

			.entry-content {
				opacity: 1;
			}
		}
	}

	.splash {

		.site-header {
			opacity: 1;
		}
	}

	#intro-entry-link {
		cursor: default;
	}

	.featured-project .project-info ul li.project-gallery-link {
		display: none;
	}

	@media screen and (min-width: 769px) {

		.main-navigation ul {
			display: -webkit-box;
			display: flex;
		}
	}
}