@import '_reset';
@import '_variables';
@import '_typography';
@import '_forms';

.login {
	height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-align: center;
	        align-items: center;
	-webkit-box-pack: center;
			justify-content: center;
	padding: 3rem;
	background: $dark;
	font-size: 1.6rem;
	font-family: $sans_font;
	font-weight: normal;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: 0.0425em;
	color: $white;

	h1 {
		margin: 0;
		font-family: $display_font;
		font-size: 4.2rem;
		font-weight: lighter;
		font-weight: 250;
		line-height: 1;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.2;

		a {
			font-weight: lighter;
			font-weight: 250;
		}
	}

	p {
		margin-top: 1em;
	}

	form {
		padding: 0;
		background: $dark;
		box-shadow: none;
		border: none;

		.forgetmenot {
			font-weight: 400;
			float: left;
			margin-bottom: 0;
		}
	}

	form .input,
	input[type="password"],
	input[type="text"] {
		font-size: 1.7rem;
		line-height: 1.4;
		width: 100%;
		border-radius: 0px;
		padding: 1rem;
		margin: 0;
		max-height: none;

		&:focus {
			box-shadow: none;
			border-color: $white;
		}
	}

	form .input,
	form input[type="checkbox"],
	input[type="text"] {
		background: $dark;
		-webkit-filter: none !important;
				filter: none !important;

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active  {
			box-shadow: none !important;
			-webkit-box-shadow: none !important;
			-webkit-text-fill-color: $white !important;
		}
	}

	.wp-pwd {
		position: relative;

		button {

			span {

				&:before {
					font-family: 'dashicons';
					content: "\f177";
				}
			}
		}
	}

	.button.wp-hide-pw {
		display: inline-block;
		background: 0 0;
		border: 1px solid transparent;
		box-shadow: none;
		font-size: 14px;
		line-height: 2;
		width: 1em;
		height: 1em;
		padding: 0;
		padding-right: 1.5rem;
		min-width: 40px;
		min-height: 40px;
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;

		span {
			padding: 0.5rem 0;
		}
	}

	.button-secondary {
		color: $white;
	}

	#nav,
	#backtoblog {
		clear: both;
		width: 100%;
		max-width: 480px;
		margin: 0.5em auto;
		font-size: 1.4rem;

		a {
			font-weight: 400;
		}
	}

	#nav {
		margin-top: 100px;
	}

	#login_error,
	.message,
	.success {
		margin: 2em 0 0;
		padding: 1rem;
		font-size: 1.4rem;
		background: $dark;
		border: solid 1px rgba($color: $white, $alpha: 0.5);
		color: $text;
	}
}

#login {
	width: 100%;
	max-width: 480px;
	margin: 0;
	padding: 0;
}

.login-text {
	text-align: center;
}

#loginform {
	width: 100%;
	max-width: 480px;
	margin: 0;

	&>p,
	.user-pass-wrap {
		margin-top: 1em;
	}
}

#wp-submit {
	float: right;
	display: inline-block;
	height: auto;
	padding: 1rem;
	background: inherit;
	border-radius: 0px;
	border-color: rgba($color: $white, $alpha: 0.35);
	box-shadow: none;
	font-family: $display_font;
    font-size: 1.7rem;
	line-height: 1;
	letter-spacing: 0.075em;
	text-transform: lowercase;
	text-decoration: none;
	text-shadow: none;

	&:hover,
	&:focus,
	&:active {
		border-color: $link_hover_color;
		color: $link_hover_color;
	}
}

.privacy-policy-page-link {
	display: none;
}